# Question1

In [3]:
a=0
def b():
    global a
    a=c(a)
    
def c(a):
    return a+2

In [4]:
b()
b()
b()

In [5]:
a

6

The value 6 is displayed i.e. value at the end of execution equals to 6.
Initially the variable a is declared global and the value at begining of a=0.
Each time the function b() is executed, the value of a is incremented by 2 through the function c(a).
As the b() is called 3 times and hence the value of a is incremented 3 times.

# Question2

In [99]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File "+ file_name +" not found.")

In [53]:
file_length('midterm.py')

40

In [56]:
file_length('idterm.py')

File idterm.py not found.

# Question3

In [100]:
class Marsupial:
    def __init__(self):
        self.mlist=[]
    def put_in_pouch(self,item): 
        self.mlist.append(item)
    def pouch_contents(self): 
        return self.mlist

In [95]:
m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [114]:
class Kangaroo(Marsupial):
    def __init__(self,xcord,ycord):
        Marsupial.__init__(self)
        self.x=xcord
        self.y=ycord
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
    def __str__(self):
        return "I am a Kangaroo located at cordinates: ("+str(self.x)+","+str(self.y)+")"

In [115]:
k=Kangaroo(0,0)
print(k)

I am a Kangaroo located at cordinates: (0,0)

In [116]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [117]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at cordinates: (3,0)

# Question 4

In [8]:
def collatz(n):
    if n==1:
        return n
    if n%2 == 0:
        print(n)
        return collatz(n//2)
    if n%2 == 1:
        print(n)
        return collatz(3*n+1)

In [9]:
collatz(1)

1

In [10]:
collatz(10)

10
5
16
8
4
2

1

# Question5

In [11]:
def binary(n):
    if n==0:
        return 0
    else:
        return (n%2+10*binary(int(n//2)))

In [13]:
binary(0)

0

In [14]:
binary(1)

1

In [15]:
binary(3)

11

In [16]:
binary(9)

1001

# Question6

In [147]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    headings = ['h1', 'h2']
    def handle_starttag(self, tag, attrs):
        if tag in self.headings:
            return tag
    def handle_endtag(self, tag):
        if tag in self.headings:
            return tag
    def handle_data(self, data):
        print(data)

In [148]:
infile = open('w3c.html')
content= infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

Change_me














W3C Mission


Principles

# Question7

In [165]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib import request
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [ ]:
url = 'http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
resource = request.urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
collector.getLinks()

# Question8

In [17]:
import sqlite3
connectobj = sqlite3.connect("sqlite_jas.db")

In [79]:
cur = connectobj.cursor()
cur.execute("CREATE TABLE WEATHER (City text, Country text, Season text, Temperature float, Rainfall float)")

In [80]:
cur.execute("INSERT INTO WEATHER VALUES ('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO WEATHER VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO WEATHER VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO WEATHER VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO WEATHER VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO WEATHER VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO WEATHER VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO WEATHER VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO WEATHER VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO WEATHER VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO WEATHER VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO WEATHER VALUES ('Cairo','Egypt','Fall',22.2,4.5)")
connectobj.commit()

In [81]:
# (a) Part
cur.execute("SELECT Temperature FROM WEATHER")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [39]:
# (b) Part
cur.execute("SELECT DISTINCT City FROM WEATHER")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [40]:
# (c) Part
cur.execute("SELECT * FROM WEATHER WHERE Country='India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [41]:
# (d) Part
cur.execute("SELECT * FROM WEATHER WHERE Season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [42]:
# (e) Part
cur.execute("SELECT City,Country,Season FROM WEATHER WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [43]:
# (f) Part
cur.execute("SELECT City,Country,Temperature FROM WEATHER WHERE Temperature >20 ORDER BY Temperature")
cur.fetchall()

[('Cairo', 'Egypt', 20.7),
 ('Cairo', 'Egypt', 22.2),
 ('Mumbai', 'India', 24.8),
 ('Mumbai', 'India', 27.6),
 ('Cairo', 'Egypt', 27.7),
 ('Mumbai', 'India', 27.9),
 ('Mumbai', 'India', 28.4)]

In [44]:
# (g) Part
cur.execute("SELECT SUM(Rainfall) FROM WEATHER WHERE City='Cairo'")
cur.fetchall()

[(27.6,)]

In [45]:
# (h) Part
cur.execute("SELECT Season, SUM(Rainfall) FROM WEATHER GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question9

In [19]:
words=['The','quick','brown','fox','jumps','over','the','lazy','dog']

In [20]:
#(a) Uppercase
words_upper = [x.upper() for x in words]
print(words_upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [22]:
#(b) Lowercase
words_lower = [x.lower() for x in words]
print(words_lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [23]:
#(c) Length
words_len = [len(x) for x in words]
print(words_len)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [24]:
#(d)  Uppercase, Lowercase, Length
words_list = [[x.upper(),x.lower(),len(x)] for x in words]
print(words_list)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [25]:
#(e)  Length>=4
wordslist = [x for x in words if len(x)>=4]
print(wordslist)

['quick', 'brown', 'jumps', 'over', 'lazy']